/*
ion-content {
    --background: #272727 url('../../../assets/adicionais/background.jpg') no-repeat center center / cover !important;
}
ion-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 5%;
    font-weight: 700;
    font-size: x-large;
    text-align: start;
    color: #339967;
  }
  
  
.iconesChat{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: xx-small;
    margin-bottom: 5%;
    margin-right: 5%;
}

.mensagemEnviada p{
    margin: 5%;
}

.mensagemRecebida p{
    margin: 5%;
}


.iconesChat2{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: xx-small;
    margin-bottom: 5%;
    margin-left: 5%;
}
*/