<!--<ion-header style="background: #339967;">
  <ion-toolbar style="margin-top: 10%;" color=primary>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>CONTATO</ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-content>
  
  <ion-toolbar color="light">
    <ion-buttons slot="end" style="margin-top: 10%;" color="light">
      <ion-menu-button>
        <ion-icon color="primary" name="ellipsis-vertical"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Contato</ion-title>
  </ion-toolbar>
  
  <ion-list-header style="background-color: white; margin-top: 0px;"  lines="full">
    <ion-label color="primary">
      Siga-nos nas redes sociais</ion-label>
  </ion-list-header>

  <br>  <br>
  <!--
  <ion-item button detail href="https://www.youtube.com/" target="_blank" lines="none">
    <ion-icon slot="start" color="danger" name="logo-youtube"></ion-icon>
    <ion-label>
      Youtube
    </ion-label>
  </ion-item>
  <ion-item button detail href="https://www.facebook.com/" target="_blank" lines="none">
    <ion-icon slot="start" color="tertiary" name="logo-facebook"></ion-icon>
    <ion-label>
      Facebook
    </ion-label>
  </ion-item>
  <ion-item detail href="https://www.tiktok.com/" target="_blank" lines="none">
    <ion-icon slot="start" color="dark" name="logo-tiktok"></ion-icon>
    <ion-label>
      TikTok
    </ion-label>
  </ion-item>-->
  <ion-item color="none"  button detail href="https://www.instagram.com/serrmumaragojipe/" target="_blank" lines="none">
    <ion-icon slot="start" color="danger" name="logo-instagram"></ion-icon>
    <ion-label>
      Instagram
    </ion-label>
  </ion-item>
  <br>
  <ion-item color="none"  button detail (click)="ligarSERRMU()" lines="none">
    <ion-icon slot="start" color="tertiary" name="call-outline"></ion-icon>
    <ion-label>
      Telefone
    </ion-label>
  </ion-item>
  <!--
  <ion-item button detail href="https://www.whatsapp.com" target="_blank" lines="none">
    <ion-icon slot="start" color="primary" name="logo-whatsapp"></ion-icon>
    <ion-label>
      Whatsapp
    </ion-label>
  </ion-item>
  <ion-item button detail href="https://www.twitter.com/" target="_blank" lines="none">
    <ion-icon slot="start" color="tertiary" name="logo-twitter"></ion-icon>
    <ion-label>
      Twitter
    </ion-label>
  </ion-item>
  <ion-item button detail href="https://www.snapchat.com/" target="_blank" lines="none">
    <ion-icon slot="start" color="warning" name="logo-snapchat"></ion-icon>
    <ion-label>
      Snapchat
    </ion-label>
  </ion-item>-->

  <img class="imagemFixada" src="../../../assets/adicionais/gerir-redes-sociais.jpg" alt="">
</ion-content>