<!--<ion-header style="background: #339967;">
  <ion-toolbar style="margin-top: 10%;" color="primary">
    <ion-buttons  slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ENTRE OU CADASTRE-SE</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-toolbar color="light">
    <ion-buttons slot="end" style="margin-top: 10%;" color="light">
      <ion-menu-button>
        <ion-icon color="primary" name="ellipsis-vertical"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Entre ou cadastre-se</ion-title>
  </ion-toolbar>
<div style="margin-top: 0px; background-color: white; height: 2.5%; width: 100% !important;"></div>

  <div style="width:100%;text-align: center;align-content: center;align-self: center; margin-top: 5%;">
    <img src="../../../assets/image/logo.png" width="70%" height="40%">
  </div>
  <div>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item color="none" lines ="full" style="margin: 5%;">
            <ion-label position="stacked" color="primary">Email</ion-label>
            <ion-input required="false" placeholder="Informe seu email" [(ngModel)]="email" type="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item color="none" lines ="full" style="margin: 5%;">
            <ion-label position="stacked" color="primary">Senha</ion-label>
            <ion-input required="false" name="senha" (keyup.enter)="fazerLogin()" placeholder="Informe sua senha" [(ngModel)]="senha" type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-button fill="solid" expand="block" color="primary" (click)="fazerLogin()">Entrar</ion-button>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-button fill="outline" expand="block" color="secondary" routerLink="/recuperar-senha">Recuperar conta
          </ion-button>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-button fill="outline" expand="block" color="secondary" routerLink="/cadastro">Criar conta
          </ion-button>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>